;; Do we really need to put all  arities in a single list? No we dont!
;; The reader is supposed to read  all objects from the file an return
;; a sequence.
([?a ?b] [[?a :is ?b]] [[?a :le ?b]
                        [?a :ge ?b]])
([?a ?b] [[?b :is ?a]] [[?a :le ?b]
                        [?a :ge ?b]])
