;; Do we really need to put all  arities in a single list? No we dont!
;; The reader is supposed to read  all objects from the file an return
;; a sequence.

;; Note that the rules are not  recursive by themseves. If you want to
;; get all integers you have to apply this rule sufficently many times
;; yourself. Also the original facts  are in general from a "different
;; domain" so that you will have to pass them through yourself here or
;; set/union in the code:
([?n]
 [[(+ ?n 1) :is :int]
  ;; [?n :is :int]                         ; pass through
  [(- ?n 1) :is :int]]
 ;; when
 [[?n :is :int]])

;; A (comment  ...) form ist read  literally and is not  understood by
;; the defrules-macro. The reader comment works as expected though:
#_(comment "Hi!")

#_([?x ?x-word ?y-word ?y]
 [[[?x ?y] :reads (str ?x-word " " ?y-word)]]
 ;; when
 [[?x :reads ?x-word]
  [?y :reads ?y-word]])
